/* basic presset */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	//This defines what 1 rem is 10 px
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1.7;
	color: $color-grey-dark;
	padding: 3rem;
}


